* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background: #f6f6f6;
  color: #222;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #111;
  color: #fff;
  align-items: center;
}

header .logo {
  font-size: 20px;
  font-weight: bold;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

nav a.active,
nav a:hover {
  color: #00d9ff;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(#000000ab, #000000ab), url('hero.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  background: #00d9ff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.page {
  padding: 40px 25px;
}

.services-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.service {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.1);
}
.contact-box {
  background: white;
  padding: 25px;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.contact-box textarea {
  height: 150px;
  resize: vertical;
}

.status {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}