/* GLOBAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #ffffff;
  color: #111;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #000;
}

.navbar img {
  width: 170px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: #ccc;
}

/* MOBILE MENU */
.menu-toggle {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

/* BUTTON */
.btn {
  text-decoration: none;
  padding: 12px 30px;
  background: black;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.btn:hover {
  background: #333;
}

/* RESPONSIVE */
@media(max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: black;
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    padding: 20px;
  }

  .menu-toggle {
    display: block;
  }
}